* {
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Roboto, sans-serif;
}

#colorsContainer {
    border: 1px black solid;
}

.color {
    display: inline-block;
    border: 1px black;
    width: 200px;
    height: 80px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

#blue {
    background-color: #6bd8f0;
}
#green {
    background-color: #95d89f;
}
#red {
    background-color: #bf3a1c;
}
#yellow {
    background-color: #f5dc4f;
}